*.o
*.gch
results/
bude
tags
*.svg
/*.txt
core.*
out/
build/
cov-int/
coverity
coverity_report/
covreport.yml
csv.tpl
config.env

reference/kernel_headers
reference/*.deb
reference/*.buildinfo
reference/*.changes
reference/pkgs

.yedrc
.rgignore
compile_commands.json
.cache

deps/bpftool.log
deps/igc.log
build
blazesym

src/i915_helpers/i915_drm_prelim.h
