[submodule "drivers.gpu.i915.drm-intel"]
	path = reference/drivers.gpu.i915.drm-intel
	url = https://github.com/intel-innersource/drivers.gpu.i915.drm-intel.git
[submodule "deps/bpftool"]
	path = deps/bpftool
	url = https://github.com/libbpf/bpftool.git
