*.o
results/
bude
tags
*.svg
/*.txt
core.*
out/
build/
cov-int/
coverity
coverity_report/
covreport.yml
csv.tpl

reference/kernel_headers
reference/*.deb
reference/*.buildinfo
reference/*.changes
reference/pkgs

.yedrc

deps/bpftool.log
deps/igc.log
iaprof

src/i915_helpers/i915_drm_prelim.h
